{% extends "layouts/main.html" %}

{% set pageName="Guidance for using maps - HMLR DS - staging" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Maps</h1>

    <p class="govuk-body">Maps help to people to identify and draw areas geospatially.</p>

    <img src="/public/images/map.png" alt="" class="govuk-!-margin-bottom-6" style="max-width:100%;height:auto;display:block;">

    <h2 class="govuk-heading-l">When to use a map</h2>

    <p class="govuk-body">Use a map when it makes identifying or drawing areas easier to do.</p>

    <p class="govuk-body">Maps help people to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>identify and confirm an area with or without a postal address</li>
      <li>select, draw, edit and delete areas</li>
      <li>compare areas</li>
      <li>identify a feature within an area, for example a building, tree or road</li>
      <li>identify where features share a boundary</li>
    </ul>

    <p class="govuk-body">You should also provide an alternative to a map if possible, and it is recommended that this be designed first.</p>

    <p class="govuk-body">Both the map and the alternative to the map should be tested with users.</p>

    <h2 class="govuk-heading-l">How it works</h2>

    <p class="govuk-body">We have created in-house maps.</p>

    <p class="govuk-body">The maps within Search for local land charges and Maintain use the GDS radio buttons for the map options.</p>

    <h2 class="govuk-heading-l">Make maps more accessible and easier to use</h2>

    <h3 class="govuk-heading-m">Map alternatives</h3>

    <p class="govuk-body">Alternatives to a map could include turning geospatial data into textual data, for example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>describing the area and orientation</li>
      <li>showing the postcode based on the map coordinates</li>
    </ul>

    <p class="govuk-body">Map alternatives could include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>providing data in other formats, such as geoJSON</li>
      <li>a search and filter function</li>
    </ul>

    <h3 class="govuk-heading-m">Map accessibility</h3>

    <p class="govuk-body">Maps and mapping services do not fall under the accessibility regulations.</p>

    <p class="govuk-body">Maps can contain accessibility issues and usability can be complex. You should make mapping features as accessible and usable as possible.</p>

    <p class="govuk-body">Ways to make a map more usable and accessible include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>simplifying the map options to only those that the user needs</li>
      <li>placing map controls outside of the map</li>
      <li>use vector map tiles to allow for layering and styling of map features</li>
    </ul>

    <h3 class="govuk-heading-m">Ordering pages, elements and map options</h3>

    <p class="govuk-body">Organise the order of pages in the service and the order of elements on the page, for example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>placing a postcode search first</li>
      <li>using a map after a textual address, so that the map is not the primary element if it does not need to be</li>
    </ul>

    <p class="govuk-body">You can organise the interactive map options in the most usable order, for example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>have the search and filter tools earlier in the tab order than the map</li>
      <li>investigate separating map controls into basic and advanced options</li>
      <li>present customised help, such as keyboard controls</li>
    </ul>

    <h3 class="govuk-heading-m">Textual and semantic elements</h3>

    <p class="govuk-body">Present map options in textual form, this includes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>using labels instead of icons</li>
      <li>not putting text in images</li>
    </ul>

    <p class="govuk-body">Add textual descriptions to visually presented elements.</p>

    <p class="govuk-body">Use the correct semantic elements, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>button HTML tags for buttons, not other tags</li>
      <li>GOV.UK Design System components instead of custom ones</li>
    </ul>

    <p class="govuk-body">Add additional semantic data to elements, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>metadata such as microdata or microformats</li>
      <li>HTML attributes or ARIA attributes</li>
    </ul>

    <h3 class="govuk-heading-m">Map colours</h3>

    <p class="govuk-body">Present map features in different colours or shading, such as:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>black and white</li>
      <li>high colour contrast (aim for WCAG AAA compliance)</li>
      <li>hatching</li>
    </ul>

    <p class="govuk-body">See the following examples of map colours:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.esri.com/arcgis-blog/products/arcgis-pro/mapping/designing-maps-for-colorblind-readability/">ESRI guide to Designing maps for colourblind readability</a></li>
      <li><a class="govuk-link" href="https://labs.os.uk/public/cvd-zoomstack/">Ordnance Survey maps example where the colour palette can be chosen</a></li>
      <li><a class="govuk-link" href="https://www.ons.gov.uk/census/maps/choropleth/housing/accommodation-type/accommodation-type-3a/flat-maisonette-or-apartment">Office for National Statistics choropleth census maps</a></li>
    </ul>

    <p class="govuk-body">You can use or copy colour schemes developed specifically for this purpose from trusted sources such as Ordnance Survey. Check the use case is the same as yours.</p>

    <h2 class="govuk-heading-l">Alternative ways to interact with the map</h2>

    <p class="govuk-body">Explore interacting the map by other ways, for example:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>keyboard</li>
      <li>voice</li>
      <li>filtering, refining a search, or removal of map features</li>
    </ul>

    <p class="govuk-body">For mouse and touch screen, ensure that touch targets are large enough.</p>

    <h3 class="govuk-heading-m">Using a keyboard</h3>

    <p class="govuk-body">Make map options accessible by keyboard, including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>ensuring the controls can be tabbed to</li>
      <li>that they are in a logical tab order</li>
      <li>investigating methods for selecting features or drawing a boundary, for example, using Web Feature Services (WFS) and selecting a feature at the centre of the map</li>
    </ul>

    <p class="govuk-body">Common key mappings are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>arrow keys for panning</li>
      <li>the + and - keys for zoom</li>
      <li>enter or space to select</li>
    </ul>

    <h3 class="govuk-heading-m">Key controls, zoom and vector map tiles</h3>

    <p class="govuk-body">Consider including a toggle to show/hide the key controls.</p>

    <p class="govuk-body">Some JavaScript libraries handle zoom slightly differently. Most zoom the map when the =/+ key is pressed without the need to use the shift key. Openlayers does not do this and the functionality would need to be added.</p>

    <p class="govuk-body">Use vector map tiles instead of static images.</p>

    <h3 class="govuk-heading-m">Remove or reduce the amount of JavaScript</h3>

    <p class="govuk-body">Provide the no script version of the map if JavaScript is unavailable to the user.</p>

    <h2 class="govuk-heading-l">Services with maps</h2>

    <p class="govuk-body">The following HM Land Registry services use maps:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Local land charges; Search for local land charges, Portal, Maintain and Migration helper</li>
      <li>Search for land and property information</li>
      <li>MapSearch within Portal</li>
    </ul>

    <h2 class="govuk-heading-l">Get help using maps in your service</h2>

    <p class="govuk-body">Speak to teams with maps in their services.</p>

    <p class="govuk-body">Collaborate with Government designers on maps. Visit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://ukgovernmentdigital.slack.com/archives/CGND8AMPU">UK Government Digital slack Maps in services channel</a></li>
      <li><a class="govuk-link" href="https://mapsinservices.slack.com">Cross Government slack Maps in services workspace</a></li>
    </ul>

    <p class="govuk-body">Learn from other Government departments maps guidance. View:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://github.com/alphagov/govuk-design-system-backlog/issues/75">GOV.UK Design system backlog: Maps</a></li>
      <li><a class="govuk-link" href="https://github.com/defra-design/design/wiki/Interactive-maps">DEFRA public wiki page on using interactive maps</a></li>
      <li><a class="govuk-link" href="https://github.com/DEFRA/design-standards/blob/master/Maps.md">DEFRA Design standards for maps</a></li>
      <li><a class="govuk-link" href="https://defradigital.blog.gov.uk/2021/05/20/designing-a-more-accessible-flood-map/">DEFRA blogpost, Designing a more accessible flood map</a></li>
      <li><a class="govuk-link" href="https://digital-land.github.io/design-system/components/map/">Digital Land – Map component</a></li>
      <li><a class="govuk-link" href="https://designsystem.tfwm.org.uk/styles/maps/">Transport for West Midlands, Map style</a></li>
    </ul>

    <p class="govuk-body"><a class="govuk-link" href="https://labs.os.uk/pages/index.html">Ordnance Survey Labs</a> contains tools and information for using maps.</p>

    <p class="govuk-body">The <a class="govuk-link" href="https://github.com/OrdnanceSurvey/GeoDataViz-Toolkit">GeoDataViz Toolkit</a> contains sections on:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Using the right basemap</li>
      <li>Cartographic design principles</li>
      <li>Using colours</li>
    </ul>

    <h2 class="govuk-heading-l">Help us improve maps and this guidance</h2>

    <p class="govuk-body">If you have feedback on how we can improve this guide, email <a class="govuk-link" href="mailto:hmlr-design-system-support@landregistry.gov.uk">hmlr-design-system-support@landregistry.gov.uk</a>.</p>

  </div>
</div>


{% endblock %}
