{% extends "layouts/main.html" %}

{% set pageName="Guidance for using maps" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">
    	Guidance for when and how to use maps we've been drafting, from GDS assessed services and working across Government, experimentation and learning.
    </p>

    <p class="govuk-body">
    	We're working on a good form, or forms of the guidance so it can be published more formally, in HMLR Design System, or the Government Service Manaual.
    </p>

    <p class="govuk-body">
    	Use what has been drafted as the most authortative source of information for using maps for Land and Property Services.
    </p>

    <p class="govuk-body">Guidance pages in a few different forms we've been exploring:</p>
  	<ul class="govuk-list govuk-list--bullet">
  		<li><a href="hmlr-design-system-original">original Design System page</a> (we've hidden and are trying to rewrite)</li>
  		<li><a href="hmlr-design-system-staging">the most recent design system page</a>, in staging (hidden) - which we think we took too much out of</li>
   		<li>experiment: <a href="rewritten-with-ai-assitance">Ai re-write of the original page</a> (asked Ai to make it gov service manual / design system Gov writing style - this is unreviewed)</li>
   		<li><a href="service-week-guidance">redrafted the notes from Services Week 2025 "Maps in Services"</li>
  	</ul>

  </div>
</div>

{% endblock %}
