---
title: When and how to use maps in your service
description: Guidance to help you use maps within your service
section: Guidance
theme: Help to
layout: layout-pane.njk
show_page_nav: true
order: 2
---

## Who is this guidance for

__This is preliminary guidance.__

Maps in Services - design guidance

A document for us to co-write our page for the GOV.UK Service Manual.

Who this guide is for
What heading and sub-headings should we have?

What are maps?
What is a map in a service?
Why use a map?
When to use a map?
Constraints of using maps
When not to use a map
Alternatives to maps

Start with user needs - maps are complex, understand specifically what your users need that can only be provided by a map
What you would need to demonstrate at a service assessment
Service assessment guidance on accessibility and link to WCAG on how maps are audited

Need for testing (user and accessibility)

How it works

When to use a map

Existing guidance is solid on this, we could adopt
https://designsystem.gov.scot/guidance/maps
https://hmlr-design-system-staging.herokuapp.com/guidance/maps/
DEFRA?

Use a map when it makes identifying or drawing areas easier to do.
Maps help people to:
identify and confirm an area with or without a postal address
select, draw, edit and delete areas
compare areas
identify a feature within an area, for example a building, tree or road
identify where features share a boundary
You should also provide an alternative to a map if possible, and it is recommended that this be designed first.
Both the map and the alternative to the map should be tested with users.
Choosing the right type of map

To choose a type of map you must first understand the user needs for your service [link to service manual]

The map type you choose depends on the data you need to show


Types of map
Perhaps have a section for each type of map - that gives guidance specific to that map type.
Types of maps: ‘Presenting spatial information, e.g. point of interest, areas, line features etc’, ‘Creating new or editing existing spatial data’, ‘Route finding’, ‘Data visualisation’.
Types of maps eg choropleth, dot (and examples)
Types of maps: data visualisation, geographical boundaries, wayfinding, points on a map. 

Static map
A static map is an image that cannot be changed by the user.

For example, a static map may be:
part of a published report on crime rates
generated by a service based on information provided by a user
Interactive map
An interactive map allows the users to change what the map is showing.

For example, an interactive map may allow users to :
Zoom to show larger or smaller area of the map
plot a route or area
draw areas or routes on to the map
change the time
view different layers of information


Embedded map vs full screen maps
Interactive vs static maps


What good looks like in terms of alternative services

How to test your map 
Research and Design - map components 
Start with a Discovery to find out what exists, define the problem and gather stakeholder and user requirements.


-What should be included in this section:
	- Find research on user preferences and goals when using maps 
	- What interactions do the users have with maps 
	- Examples of how existing components can be used in maps 
	- How to prototype a map using what  the tools available
- Gather stakeholder requirements from departments (survey)
- Carry out user research to gather user needs and wants

- List of common interactions with maps

 
GDS components to use in the map
Style guidelines
Interactions 
The cost of using existing map APIs - dependent on which functionalities to also use
What APIs exist & their associated costs



Interactions
Map interaction guidelines (clicking, adding things within the map, icons etc etc)  (touch, keyboard, mouse)

Possible elements within the map ( e.g. satellite view, zoom in/out, search
Key controls, zoom and vector map tiles
Services with maps
Get help using maps in your service
Help us improve maps and this guidance
Need help?
How to share maps off of the service i.e. sending links or overlays 
Maps working group

Accessibility

You need to make your map as accessible as possible, public sector orgs need to meet their responsibilities under the Equality Act. These are some non-exhaustive ways to make your map more accessible.

Maps are exempt from the Public Sector Accessibility Regulations 2018, but you should still do as much as you can to make your map accessible. 

There’s no comprehensive list of how to make a map ‘fully accessible’. Test with your users to identify which areas you need to prioritise.

Introducing and explaining the map to users: 
Show one thing per map - don’t try to make one map do too much 
Have a clear explanation of what the map is and how to use it on the surrounding page
Use plain English for all content on the map 

Making the map itself more accessible:
Interacting with the maps, using a keyboard - Make sure your map is keyboard accessible [moved from section above?] Use standard controls, and allow small and large step navigation
Colours and colour contrast - colours should contrast highly enough with the basemap and with each other
Accessibility - Colour Vision Deficiency, min font size
ARIA and screen readers
Especially when using sequential colouring to visualise data, ensure there is a query function allows the user to check the data through clicking or hovering
How to describe the map to meet accessibility standards eg some good examples of services with maps
Giving users choice about how to display the map e.g. being able to choose their preferred basemap (third party tools like Esri do this)
Use of transparencies and order of layering
OS approach to produce 3 versions that are tuned to help with different visual impairments eg use CSS - people can choose the view that suits them
Where vector tiles allow use solid colour for map layers above a basemap, and bring basemap taxonomy above any solid data layers to show map details beneath
Different stylesheets for different needs (colour vision, low/high contrast etc)
Symbols, icons, when to use them
Fullscreen vs inset maps
Translations, english, welsh
When to use a inset map eg London zoom in
A rating for how accessible the map is
How should maps work on a responsive website (mobile, tablet)
Sequential will have different accessibility challenges to diverging map colours for choropleth maps

Consider how users could get the same information in another format:
Consider the ‘alternatives to maps’ section in case there’s a more accessible way of achieving the same goal 
Download data spreadsheet behind the map
What to include in a data download - help to meet accessibility
Make online and static maps available for those with lower digital literacy

Technical section

What Basemap? API - WMTS/VTS or data
Basemap layers - deciding your layer hierarchy
Use of OS data - Public Sector Geospatial Agreement 
What data?
Where to get boundaries from
How to optimise boundaries
How many boundaries
Examples of open data libraries for govt use
LA boundaries, regions, points of interest, etc
Map Libraries - Leaflet etc.
Software eg ESRI ArcGIS, MapInfo, R, Leaflet, PowerBI / Mapbox
Boundaries - ability for users to draw redline boundaries (i’m thinking of planning applications and policy)
Ability to load layers and have a good user experience on mobile devices - single layer maps and multi layer 

Open source map
API to extract data
Remove or reduce the amount of JavaScript
Alternatives to maps
What does good look like?

Ordering pages, map elements and options
Map key
Textures
Use other geographic data (address, postcode, IP address etc) to direct relevant information to user, e.g. weather warning for your town
Consider carbon footprint?

Also layers need to work together and link together

Examples of maps

What the alternatives to maps are - and provides some examples e.g. X could’ve been a map but this team made the same data available in another format as well 

Data visualisation

User needs first – to help prevent overcommunicating and overcomplicating a map with too much information
Knowing the users digital skill level influences how you design it

Examples of data visualisation in a map
Land registry – used to delineate boundaries – farmers drawing to communicate boundaries, which terrified the users
NUAR – National underground asset registry
MHCLG – Another tool – static map generator – poor user feedback
ATLAS – you can see by geographic area, see number of houses built, etc

MHCLG – Clone of the ONS census map – initially for data scientists, but now open to more and it has hundreds of metrics on the map – trying to rely on the deputy prime minister to state strategic objectives – struggling to prioritise
More data points – increases the weight of the page
Maps as a way to communicate policy information –

Data pipelines and keeping them maintained is a challenge
Let the users download the data from the map – sits alongside a ‘data catalog’ that includes things like, sources of the data, caveats about the data, etc
MHCLG – Open data – no issues with users taking screenshots – though if the data is…
Official sensitive data –  we would likely have to put in some sort of sign in front door, however no protection over screenshotting data

Data Science best practice
Thematic Mapping - when to use certain techniques (dot density, proportional symbols etc.)

Map Symbology  
Map titles
Map titles, differences , pros and cons
What does someone need to know about the map before they look or use it?
Copyright - where to place it
Legend - where to place it what should it contain
North line required?
Software options
Should maps have metadata?
How to show/ensure the data is up to date
Should maps have embedded metadata, ie UPRNs / USRN identifiers, CCOD?.
https://www.gov.uk/government/publications/open-standards-for-government/identifying-property-and-street-information
https://www.gov.uk/guidance/hm-land-registry-uk-companies-that-own-property-in-england-and-wales

Examples - have some visual examples
Information about the data that’s being displayed ( guidelines on how display the source of the data and research)
Importing and exporting data
Where to find more sources of good guidance for maps
(e.g. links to guides from around gov - e.g. link to OS work on colour schemes)

Service with maps
Perhaps list some good examples (assessed) of maps in use in Gov services
Perhaps show some examples of maps - pictures

What is the purpose of the map? For example, will the user visit the location and is the map a method of helping that person understand what to expect when they get there? Does this influence the view the map displays? A satellite view does not translate to what a person will see when they arrive. More on this topic: Alastair Somerville - Accessibility and autonomy in cultural attractions on Vimeo

Purpose of maps 
simple single layer, static maps e.g. find a thing
complex multi layer e.g. local plans 
transactional (report issues, submit planning)
Insight/analytics/intel

Maps and AI
Devices - Mobile, Desktop etc
User research findings and evidence repository and AI to help people find things within it

Import and export capabilities 


Provenance: 
Something that describes how this guide was greeted through this week's collaboration 
