{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body-l">
    	app exploring the <a href="https://www.npmjs.com/package/hmlr-map">HMLR rapid protoyping map component</a>
    </p>

    <p class="govuk-body">The map component:</p>
  	<ul class="govuk-list govuk-list--bullet">
  		<li>is for prototyping only</li>
  		<li>is published in the open</li>
  		<li>has no licensing restrictions</li>
  		<li>is as easy to put in your prototype as any other GOV.UK Design System component</li>
  	</ul>
 
    <p class="govuk-body">
    	We believe we have a functioning, useful, easy to use map component for rapid interactive protoyping.  We are thinking about what refinements to make to it, or what other features to add.

    	<a href="about-the-map-component">more about the principles and philosophy of this map component</a>
    </p>

    <p class="govuk-body">
    	<a href="example-maps">Example maps</a>
    </p>


  </div>
</div>

{% endblock %}
